@import "tailwindcss";

@theme {
  --animate-pulse-slow: pulse-slow 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse-slow {
    0%, 100% {
      opacity: 0.4;
      transform: scale(1.05);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.1);
    }
  }
}

.outline-text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  color: transparent;
}

body {
  background-color: #050505;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

